@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

html,body,.class1,.class2,.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.class1{
    height: 30vh;
    width: 100vw;
}

.photo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}

p{
    font-size: 1rem;
}

.class2{
    padding-top: 2rem;
    justify-content: space-around;
    height: 60vh;
    width: 100vw;
}

.sctxt{
    font-size: 1rem;
}

.box{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 40vw;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: solid black 2px;
    border-radius: 10px;
}

a{
    all: initial;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width:600px){
    .box{
        width: 90vw;
    }
}
